@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 



<h3>
    @ViewData["message"]
</h3>
<h4>

    @TempData["Company"]
</h4>
@if (ViewData["list"] != null)
{
    <ol>
        @foreach (string str in (IEnumerable<string>)ViewData["list"])
        {
            <li>
                @str
            </li>
        }
    </ol>
}

<p> @ViewBag.Date, @ViewBag.Month, @ViewBag.Year,  Day : @ViewBag.Day</p>
<ol>
    @foreach (string str in ViewBag.City)
    {
        <li>
            @str
        </li>
    }
</ol>
